@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*{ 
  font-family:'Roboto Mono', monospace;
}

.Header{
  display: flex;
  justify-content: space-between;
  padding: 2px 20px;
  border: 1px #42b1ff solid ;
  background-color: #42b1ff;
}

.HeaderTitle > h2 {
  color:white;
}

.HeaderImage{

}

.homeIcon{
  margin-top:12%;
  margin-right:5px;
}

.logoutButton{
  background-color:white;
  color: #42b1ff;
  font-weight: bold;
  border: none;
  border-radius:5px;
  margin-top: 15px;
}


.logoutBar{
display: flex;
height:40px;
margin-right:2%;
}

.loginHomeIcon{
  margin-top:6%;
}

.loginButton{
  background-color:white;
  color: #42b1ff;
  font-weight: bold;
  border: none;
  border-radius:5px;


  position:relative;
  bottom:9px;
  height:24px;
  left:3px;
 
}

.signupButton{
  background-color:white;
  color: #42b1ff;
  font-weight: bold;
  border: none;
  border-radius:5px;
  margin-left:5px;
  position:relative;
  bottom:9px;
  height:24px;
  left:3px;
}

.loginBar{
  display: flex;
 
}


/*글 작성 페이지*/
.writeButton{
  width: 50px;
  height: 50px;
  background-color: #212121;
  color: #ffffff;
  box-sizing: border-box;
  font-size: 36px;
  font-weight: 800;
  position: fixed;
  bottom: 50px;
  right: 16px;
  text-align: center;
  border: none;
  border-radius: 50px;
  vertical-align: middle;
}
.writeImageInner{
  position: relative;
    /* padding-top: 20%; */
    overflow: hidden;
    background-size: cover;

}
.writeImageOutter{
  width: 50%;
    min-width: 200px;
}
.writeImage{
  object-fit:cover;
  width: 100%;
  height: 100%;
}
.contents{
  display: flex;
}
.writeContent{
  height: 100%;
}
.writetrip{
  height: 200px;
  /* border: white; */
}
.writePage{
   padding: 2% 10%;
  /* display: flex; */
   /* align-items: center;
   justify-content: space-between;  */
}

/*로그인*/

.image{
  background: url("https://community12345.s3.ap-northeast-2.amazonaws.com/bukchon.jpg") no-repeat center center/cover;
  position:absolute;
  height: 119%;
  width: 100%;
  top:0;
  left:0;
  z-index:-1;
  /* padding: 1px; */
  
}

 .login{
  width:100vw;
  height:100vh;
} 


.login_Title {
  border: 1px solid #42b1ff;
  border-radius: 10px;
  
  margin:10% 10%;
  background-color:#42b1ff;
}

.login_Title > h2 {
  color:white;
  text-align:center;
}

.loginContainer {
  background-color: #fff;
  width: 30%;
  height: 75%;
  margin: 7% 30% 0% 34%;
  
 
  text-align: center;
  border: 2px solid #ddd;
  border-radius: 5px;
}

.loginIdInput {
  display: block;
  width:60%;
  height:5%;
  
  margin:13% auto;
}

.loginPasswordInput {
  display: block;
  width:60%;
  height:5%;
  margin: 50px auto;
 
}

.loginBtn {
  width: 150px;
  padding: 5px;
  margin: 80px auto;
  
}


/*메인페이지*/
.likePostCard {
  width: 80%;
}

.postCard {
  width: 21%;
  margin: 20px auto;
  border-radius: 5px;
}

.postImage {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 3px #999;
}

.postImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  position: absolute;
}

.postFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postTitle {
  width: 40%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
}

.writeButton{
  background-color:#3667f7;
  
}


/* tablet ----------------------------------------------------- */
@media screen and (max-width:1179px){
  .postCard {
      width: 40%;
      margin: 30px auto;
      border-radius: 5px;
  }
}

/* mobile ----------------------------------------------------- */
@media screen and (max-width:539px){
  .postCard {
      width: 60%;
      margin: 20px auto;
      border-radius: 5px;
  }
}

/* 좋아요 리스트 */
.iCBEms {
  box-sizing: border-box;
  width: 80%;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px #e8e8e8;
}


/* 시간리스트*/
.postDateContainer {
  width: 80%;
  margin: 30px auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-shadow: 2px 2px 2px 2px #999;
}


/*회원가입*/
.Signup {
  background-color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
}

.signup_image {
  margin-top: 10%;
  margin-left: 15%;
}

.Signup_Container {
  background-color: #fff;
  width: 50vw;
  max-width: 350px;
  margin-top: 7%;
  margin-left:36%;
  height: 70vh;
  padding: 16px;
  border-radius: 5px;
  border: 2px solid #ddd;
  
}

.Signup_Title {
  width:90%;
  margin-top: 5%;
  margin-left: 5%;
  background-color: #42b1ff;
  border: #42b1ff;
  border-radius: 10px;
}

.Signup_Title > h2 {
  color: white;
  text-align: center;
}


.success-message{
  text-align:center;
  color:#ff2667;
}

.form-field {
  margin-top: 6%;
  margin-bottom: 10%;
  margin-left: 11%;
  padding: 2% 15%;
  text-align:left;
}

.Signup_btn {
  width: 50%;
  margin-left: 35%;
}


/*디테일 페이지*/
.container{
  position: relative;
  overflow: hidden;
  background-size:cover;
}

.postcontainer{
  margin-top:0%;
  margin-left:30%;

}

.title_container{
  margin-top:5%;
  margin-right:40%;
  padding-bottom:2%;
  background-color:white;
  border: 3px solid #d4d4d4;
  border-radius: 5px;

}

.title{
  color:#42b1ff;
  text-align:center;
  
}

.img{
  object-fit:cover;
  width:60%;
  height: 55%;
  margin-top:1%;
}

.description{
  margin-top:2%;
  margin-right:40%;
  border: 3px solid #d4d4d4;
  border-radius: 10px;
}
.heart{
  margin-top:1%;
  margin-left:96%;
}

.button{
  margin-top:10%;
  margin-bottom:1%;
  margin-left:82%;
}